*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
.centralization {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.background-top{
    background-color: #011e11;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 200px;
    }
    button{
        width: 120px;
        height: 25px;
        border: 0;
        border-radius: 10px;
        background: linear-gradient(90.07deg, #a1ff8e 2.12%, #00ff15 99.94%);

        font-weight: 800;
        font-size: 12px;
        color: #011e11;
        cursor: pointer;
    }
    button:hover{
        background: transparent;
        border: 1px solid white;
        color: white;
        transition: 0.3s;
    }
}
.callToAction{
    h1{
        color: white;
        font-size: 60px;
        text-shadow: 0.04em 0.04em 0.01em #006308;
        strong{
            font-size: 55px;
        }
    }
    h3{
        margin-top: 30px;
        color: white;
    }
    button{
        margin-top: 15px;
        width: 280px;
        height: 60px;
        border: 0;
        border-radius: 25px;
        background: linear-gradient(90.07deg, #a1ff8e 2.12%, #00ff15 99.94%);
        font-size: 20px;
        color: #011e11;
        cursor: pointer;
    }
    button:hover{
        background: transparent;
        border: 1px solid white;
        color: white;
        transition: 0.3s;
    }
    }
    .imagem{
        
        img{
            width: 450px;
        }
    }
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.background-sobre{
    background-color: #00ff15;
}
.container-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image-sobre{
    margin-top: 50px;
    margin-bottom: 50px;
    
    img{
        width: 300px;
        
    }
}
.text-sobre{
    width: 550px;
    h1{
        font-size: 60px;
    }
    p{
        margin-top: 15px;
        font-size: 18px;
    }
}
.cards{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card{
    margin: 15px;
    width: 240px;
    height: 350px;
    background-color:#00ff15;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    img{
        width: 240px;
    }
    h3{
        margin-top: 30px;
    }
}
.container-oportunidade{
    padding: 20px;
    h1{
        text-align: center;
        color: #00ff15;
    }
}
.container-conforto{
    padding: 20px;
    h1{
        text-align: center;
    }
}
.cards-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card2{
    
    text-align: center;
    font-size: 25px;
    margin: 15px;
    width: 240px;
    height: 350px;
    img{
        width: 240px;
    }
}
.container-what-me{
    text-align: center;
    padding: 20px;
    img{
        width: 200px;
    }
    h3{
        font-size: 40px;
        color: #00ff15;
    }
}
.container-depoimentos{
    padding-top: 80px;
    h1{
        text-align: center;
        position: relative;
        top: -50px;
    }
}
.cards-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.card-3{
    margin: 30px;
    text-align: center;
    width: 300px;
    height: 180px;
    border-radius: 15px;
    background-color: #011e11;
    
    p{
        position: relative;
        top: -40px;
        color: white;
    }
}
.image-card3{
    position: relative;
    top: -50px;
    height: auto;
    img{
        width: 130px;
    }
}
.text-footer{
    img{
        width: 200px;
    }
    h1{
        font-size: 80px;
        color: #00ff15;
    }
    p{
        color: #00ff15;
    }
    button{
        margin-top: 15px;
        width: 280px;
        height: 60px;
        border: 0;
        border-radius: 25px;
        background: linear-gradient(90.07deg, #a1ff8e 2.12%, #00ff15 99.94%);
        font-size: 20px;
        color: #011e11;
        cursor: pointer;
    }
    button:hover{
        background: transparent;
        border: 1px solid white;
        color: white;
        transition: 0.3s;
    }
}
.image-footer{
    img{
        width: 400px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
.container-footer{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
@media screen and (max-width: 1320px){
    .menu{
        padding: 20px;
    }
    .container{
        padding: 20px;
    }
}
@media screen and (max-width: 850px){
    .container-footer{
        flex-direction: column;
        text-align: center;
    }
    .container{
        flex-direction: column;
        text-align: center;
    }
    .container-sobre{
        flex-direction: column;
        text-align: center;
    }
    .text-sobre{
        margin: 10px;
        margin-top: -25px;
        h1{
            font-size: 35px;
        }
        p{
            font-size: 15px;
        }
    }
    .imagem{
        margin-top: 20px;
    }
    .container-what-me{
        h3{
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 588px){
    .text-sobre{
        width: 100%;
    }
}
@media screen and (max-width: 460px){
    .text-sobre{
        padding: 10px;
    }
    .imagem{
        img{
            width: 350px;
        }
    }
    .callToAction{
        h1{
            font-size: 40px;
            strong{
                font-size: 40px;
            }
        }
        h3{
        font-size: 14px;
        }
    }
.image-footer{
    img{
        width: 300px;
    }
}
.text-footer{
    h1{
        font-size: 60px;
    }
    button{
        margin-bottom: 20px;
    }
}
}
@media screen and (max-width: 370px) {
.text-sobre{
    p{
        font-size: 13px;
    }
}
}